/* Header */
	#header{
		height: 8rem;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: transparent;
		@include transition;
		z-index: 99;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		&.active{
			&:before{
				height: 100%;
				opacity: 1;
			}
			.header_actions{
				.action{
					&.action__request{
						&:before{
							height: 100%;
							opacity: 1;
						}
						svg path{
							fill: #20415C;
						}
						span{
							color: #20415C;
						}
					}
				}
			}
		}
		&:before{
			content: '';
			background: #254E6D;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 0%;
			opacity: 0;
		    -webkit-transition: height .4s cubic-bezier(.215,.61,.355,1),opacity .8s cubic-bezier(.215,.61,.355,1);
		    transition: height .4s cubic-bezier(.215,.61,.355,1),opacity .8s cubic-bezier(.215,.61,.355,1);
		}
		.header-box{
			display: grid;
			grid-template-columns: 32rem auto 32rem;
			position: relative;
			z-index: 9;
		}
		.header_logo{
			margin: 2rem auto;
			a{
				display: grid;
				grid-template-columns: 1fr;
				grid-column-gap: 1rem;
				text-align: center;
				svg{
					max-width: 100%;
					height: auto;
					margin: auto;
					+ svg{
						margin-top: 10px;
					}
				}
			}
		}
		.header_menus{
			text-align: center;
			ul{
				@include flex-center;
				margin: auto;
				list-style-type: none;
				padding: 0;
				li{
					margin: 0 20px;
					&.active,
					&.current-menu-item,
					&.current-page-item{
						a{
							color: #fff;
						}
					}
					a{
						@include font;
						font-weight: 500;
						font-size: 1.4rem;
						line-height: 8rem;
						letter-spacing: 1.4px;
						color: #FCE6E3;
						text-transform: uppercase;
						@include transition;
						&:hover{
							color: #fff;
						}
					}
				}
			}
		}
		.header_actions{
			display: grid;
			grid-template-columns: 1fr 2fr;
			.action{
				line-height: 8rem;
				text-align: center;
				+ .action{
					border-left: 1px solid rgba(#FFFFFF, 0.2);
				}
				&.action__lang{
					color: #FCE6E3;
					@include small;
					line-height: 8rem;
					text-transform: uppercase;
					*{
						padding: 0 5px;
					}
					span{
						color: #F8C1B8;
					}
					a{
						color: #FCE6E3;
					}
				}
				&.action__request{
					@include flex-center;
					@include small;
					text-transform: uppercase;
					background: transparent;
					transition: all 0.4s cubic-bezier(.215,.61,.355,1);
					-webkit-transition: all 0.4s cubic-bezier(.215,.61,.355,1);		
					position: relative;
					&:before{
						content: '';
						background: #F8C1B8;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						height: 0%;
						opacity: 0;
					    -webkit-transition: height .4s cubic-bezier(.215,.61,.355,1),opacity .8s cubic-bezier(.215,.61,.355,1);
					    transition: height .4s cubic-bezier(.215,.61,.355,1),opacity .8s cubic-bezier(.215,.61,.355,1);
					}
					svg{
						position: relative;
						z-index: 9;
						path{							
							transition: all 0.4s cubic-bezier(.215,.61,.355,1);
							-webkit-transition: all 0.4s cubic-bezier(.215,.61,.355,1);							
						}
					}
					span{
						position: relative;
						z-index: 9;
						color: #F8C1B8;
						margin-left: 0.4rem;
						transition: all 0.4s cubic-bezier(.215,.61,.355,1);
						-webkit-transition: all 0.4s cubic-bezier(.215,.61,.355,1);		
					}
				}
			}
		}
	}

	@media (max-width: 1400px){
		#header .header-box{
		    grid-template-columns: 26rem auto 26rem;
		}
		#header .header_menus ul li{
			margin: 0 12px;
		}
	}

	@media (max-width: 1200px){
		#header .header-box{
		    grid-template-columns: 24rem auto 24rem;
		}
		#header .header_menus ul li{
			margin: 0 8px;
		}
		#header{
			display: none;
		}
	}

/* Menu Mobile */
	#header-responsive{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		@media (max-width: 1200px){
			display: block;
		}
		&.active{
			&:after{
			    height: 100%;
			    opacity: 1;
			}
		}
		&:after{
		    content: '';
		    background: #254E6D;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    height: 0%;
		    opacity: 0;
		    -webkit-transition: height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
		    transition: height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.res_bg{
			position: relative;
			span{
			    position: absolute;
			    top: 0;
			    width: 50%;
			    height: 100%;
			    background-color: #122223;
			    -webkit-transform-origin: top;
			    -ms-transform-origin: top;
			    transform-origin: top;
			    &:nth-child(1){
			    	left: 0;
			    }
			    &:nth-child(2){
			    	right: 0;
			    }
			}
		}
		.res_head{
			grid-template-columns: 6rem auto 6rem;
			position: relative;
			z-index: 9;
		}
		.logo{
			padding: 1.6rem 0;			
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-top: 0;
			border-bottom: 0;
			a{
				display: table;
				max-width: 12rem;
				margin: auto;
			}
			svg{
				display: block;
				&:nth-child(1){
					width: 12rem;
					height: auto;
				}
				&:nth-child(2){
					width: 6.2rem;
					height: auto;
					margin: 0.65rem auto auto;
				}
			}
		}
		.ring{
			position: relative;
		}
		.hambuger{
		    position: relative;
		    transition: all 2s ease-out 0s;
		    -webkit-transition: all 2s ease-out 0s;
		    z-index: 101;
		    margin: 0;
		    &.activated{
		    	.hambuger-inner:after {
				    bottom: 0;
				    transform: rotate(-90deg) translate3d(0, 0, 1px);
				    transition: bottom 0.2s ease, transform 0.2s 0.44s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.2s ease 0.2s;
				}
				.hambuger-inner:before {
				    top: 0;
				    opacity: 0;
				    transition: top .2s ease,opacity .2s .44s ease,background-color .2s ease .2s;
				}
				.hambuger-inner{
					transform: rotate(45deg) translate3d(0, 0, 1px);
				    transition-delay: .44s;
				    transition-duration: .2s;
				    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
				}
		    }
		    .hambuger-box{
		    	width: 16px;
		    	height: 13px;
		    }
		   	.hambuger-inner{
	   		    transition-duration: .1s;
			    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
			    width: 16px;
			    -webkit-backface-visibility: hidden;
			    will-change: transform;
			    height: 2px;
			    transform: rotate(0deg) translate3d(0, 0, 1px);
			    background-color: #f8c1b8;
			    border-radius: 4px;
			    position: absolute;
			    transition-property: transform;
			    transition-duration: .15s;
			    transition-timing-function: ease;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    right: 0;
			    &:after,
			    &:before{
			    	width: 16px;
				    -webkit-backface-visibility: hidden;
				    will-change: transform;
				    height: 2px;
				    transform: rotate(0deg) translate3d(0, 0, 1px);
				    background-color: #f8c1b8;
				    border-radius: 4px;
				    position: absolute;
				    transition-property: transform;
				    transition-duration: .15s;
				    transition-timing-function: ease;
			    }
			    &:before{
		    	    content: "";
				    display: block;
				    top: -5px;
				    transition: top .1s .14s ease,opacity .1s ease;
			    }
			    &:after {
				    content: "";
				    display: block;
				    bottom: -5px;
				    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
				}
		   	}
		}
	}

	.sidebar {
		display: none;
	    position: fixed;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    top: 0;
	    height: 100%;
	    width: 100vw;
	    padding: 20rem 0 8rem;
	    background-color: $color;
	    color: #828282;
	    overflow-y: auto;
	    overflow-x: hidden;
	    -webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
	    right: 0;
	    z-index: 98;
	    -webkit-transform: translate(0, -100%);
	    -ms-transform: translate(0, -100%);
	    transform: translate(0, -100%);
	    @media (max-width: 1200px){
	    	display: block;
	    }
		&::-webkit-scrollbar-thumb {
		    background: 0 0
		}

		&:hover::-webkit-scrollbar {
		    width: 4px
		}

		&:hover::-webkit-scrollbar-thumb {
		    background: #e0e4eb;
		    border-radius: 10px
		}

		&:hover::-webkit-scrollbar-track {
		    width: 17px
		}
		.sidebar-inner {
		    padding: 0;
		    overflow-y: auto;
		    overflow-x: hidden;
		    grid-gap: 6rem;
			&::-webkit-scrollbar {
			    width: 4px;
			}

			&::-webkit-scrollbar-thumb {
			    background: #828282;
			    position: absolute;
			    right: 0
			}

			&::-webkit-scrollbar-track {
			    width: 17px;
			}
			.sidebar_lang{
				text-align: center;
				height: 17px;
				font-size: 1.4rem;
				line-height: 1.6rem;
				@include font;
				font-weight: 500;
				letter-spacing: 1.4px;
				text-transform: uppercase;
				position: absolute;
				top: 12rem;
				left: 0;
				right: 0;
				transform: translate(10px, 0px);
				opacity: 0;
				a{
					display: inline-flex;
					color: #F8C1B8;
					span{

					}
					svg{
					    margin-left: 10px;
					    width: 8px;
					    height: auto;
					    display: inline-block;
						polygon{
							fill: #F8C1B8;
						}
					}
				}
			}
			.sidebar_list {
			    position: relative;
			    ul{
			    	display: grid;
			    	grid-template-columns: 1fr;
			    	grid-gap: 15px;
		    		list-style-type: none;
		    		padding: 0;
		    		margin: 0;
			    	li{
			    		&.current_page_item,
			    		&.current-menu-item{
			    			a{		    				
				    			color: #F8C1B8;
			    			}
			    		}
			    		a{
			    			display: table;
			    			margin: auto;
			    			font-size: 2.4rem;
			    			line-height: 2.8rem;
			    			font-weight: 500;
			    			@include font;
							letter-spacing: 0px;
							color: #FFFFFF;
							text-transform: uppercase;
			    		}
			    	}
			    }
			}
			.sidebar_button{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 8rem;
				padding: 15px;
				transform: translate(10px, 0px);
				opacity: 0;
				a{
					display: block;
					width: 100%;
					height: 100%;
					line-height: 5rem;
					text-align: center;
					font-size: 1.6rem;
					@include font;
					font-weight: bold;
					letter-spacing: 1.6px;
					color: #20415C;
					text-transform: uppercase;
					background: #F8C1B8;
				}
			}
		}	    
	}

	.sidebar-overlay {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 89;
	    background: #000;
	    pointer-events: none;
	    opacity: 0;
	    margin: 0;
	}

	#menu-trigger:checked~.sidebar-overlay {
	    pointer-events: all;
	}