// FONT
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&subset=vietnamese,latin-ext');
@import url("https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");

// END FONT

// VAR
	$color: #254E6D;
	$color-bold: #20415C; 
	$color-yellow: #ffde00;
	$color-brown: #bb8f2d;

// END VAR

//MIXIN
	@mixin content{
		display: block;
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}

	@mixin transition{
		transition: all 0.3s ease-out 0.2s;
		-webkit-transition: all 0.3s ease-out 0.2s;
	}

	@mixin transition-slow{
		transition: all 0.5s ease-out 0.2s;
		-webkit-transition: all 0.5s ease-out 0.2s;
	}

	@mixin shadow{
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	}

	@mixin shadow-bold{
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	}

	@mixin shadow-input{
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	}
	@mixin center{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	@mixin flex{
		display: -ms-flexbox;
	    display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
	
	@mixin flex-center{
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		flex-wrap: wrap;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}

	@mixin filter{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
	}
	@mixin none-filter{
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	    filter: grayscale(0);
	}

	@mixin other{		
		font-family: 'Fraunces', 'Arial', sans-serif;
	}

	@mixin font{		
		font-family: 'Barlow Condensed', 'Arial', sans-serif;
	}

	@mixin filter{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
	}
	@mixin none-filter{
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	    filter: grayscale(0);
	}

	@mixin scale{		
		-ms-transform: scale(1.1); /* IE 9 */
		-webkit-transform: scale(1.1); /* IE 9 */
		transform: scale(1.1); /* IE 9 */
	}

	@mixin heading{
		font-size: 4.8rem;
		line-height: 6rem;
		font-weight: 500;
		@include font;
	}

	@mixin heading-mobile{
		font-size: 3.2rem;
		line-height: 1.25;
	}

	@mixin title{
		font-size: 3.2rem;
		line-height: 4rem;
		font-weight: 500;
		@include font;
	}
	@mixin title-mobile{
		font-size: 2.4rem;
		line-height: 1.25;
	}

	@mixin text{
		font-size: 1.8rem;
		line-height: 2.8rem;
		@include other;
		font-weight: 300;
	}

	@mixin text-mobile{
		font-size: 1.6rem;
		line-height: 1.4;
	}

	@mixin small{
		font-size: 1.4rem;
		line-height: 1.6rem;
		font-weight: 500;
		@include font;
	}

	@mixin textConver($a) {
	    display: -webkit-box;
	    -webkit-line-clamp: $a;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}

	@keyframes animateElement{
	  	0% {
		    opacity:0;
		    transform:  translate(0px,50px);
	  	}
	  	100% {
		    opacity:1;
		    transform:  translate(0px,0px);
	  	}
	}

	@mixin animation {		
		animation: animateElement linear .5s;
	    animation-iteration-count: 1;
	}

//END MIXIN

/*Body*/
	body{
		font-family: 'Barlow', 'Arial', sans-serif;
		font-size: 62.5%;
		font-weight: normal;
	}

	body.none-scroll{
		overflow: hidden;
	}
	
	a{cursor: pointer}
	a:hover{text-decoration: none;}	

	.no-style{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	img{
		max-width: 100%;
	}
	
	.container-fluid{
		max-width: 138rem;
	}

	.show_ipad{
		display: none !important;
	}

	// Datepicker
	.icon__next{
		display: block;
		background: url(../images/icon-next.svg) no-repeat center /cover;
		width: 24px !important;
		height: 24px !important;
	}
	.icon__prev{
		display: block;
		background: url(../images/icon-prev.svg) no-repeat center /cover;
		width: 24px !important;
		height: 24px !important;
		margin-left: auto;
	}

	#loading{
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: $color;
	    z-index: 999;
	    @include flex-center;
	    text-align: center;
    	-webkit-transition: all 1s cubic-bezier(.17,.67,.83,.67);
	    -o-transition: all 1s cubic-bezier(.17,.67,.83,.67);
	    transition: 1s cubic-bezier(.17,.67,.83,.67);
	    &.end{
	    	transition: all 0.5s ease-out;
			-webkit-transition: all 0.5s ease-out;
	    	.loading_box{
	    		height: 120px;
	    		svg{
	    			&.box__symbol{
		    			height: 60px;
		    			width: auto;
		    		}
		    		&.box__yatch,
		    		&.box__dc{
		    			top: 0;
		    			opacity: 1;
		    		}
	    		}
	    	}
	    }
	    &.remove{
    	    transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);
	    	opacity: 0;
	    	.loading_box{
	    		opacity: 0;
	    	}
	    }
	    .loading_box{
	    	height: 80px;
	    	transition: all 1s ease-out;
			-webkit-transition: all 1s ease-out;
	    	svg{
	    		display: block;
	    		margin: auto;
	    		&.box__symbol{
					-webkit-transition: all 1.2s cubic-bezier(.17,.67,.83,.67);
				    -o-transition: all 1.2s cubic-bezier(.17,.67,.83,.67);
				    transition: 1.2s cubic-bezier(.17,.67,.83,.67);
	    		}
	    		&.box__yatch{
	    			margin-top: 20px;
	    			transition: all 1.2s ease-out;
					-webkit-transition: all 1.2s ease-out;
					opacity: 0;
					position: relative;
					top: -55px;
					transition-delay: 0s;
	    		}
	    		&.box__dc{
	    			margin-top: 10px;
	    			transition: all 1.2s ease-out;
					-webkit-transition: all 1.2s ease-out;
					opacity: 0;
					position: relative;
					top: -55px;
					transition-delay: 0s;
	    		}
	    	}
	    }
	}

	.container{
		max-width: 1150px;
	}

	@media (max-width: 1400px){
		.container-fluid{
			max-width: 120rem;
		}
	}

	@media (max-width: 992px){
		.show_ipad{
			display: block !important;
		}
		.hide_ipad{
			display: none !important;
		}
	}

/* Global */
	/* Color Global */
    .conn_black{
        color: #000;
    }
    .conn_white{
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }

	/* Class Global */
    .conn_flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .conn_flex__center{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .conn_flex__end{        
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    .conn_grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .conn_font{
        font-family: 'Google Sans';
    }
    .conn_anim{
        transition: all 0.2s ease-out 0.2s;
        -webkit-transition: all 0.2s ease-out 0.2s;
    }
    .conn_lanim{
        transition: all 0.5s ease-out 0.5s;
        -webkit-transition: all 0.5s ease-out 0.5s;
    }
    .conn_center{
        text-align: center;
    }

    .conn_ani{
	    opacity: 0;
	    transform: translateY(3rem);
	    transition: opacity .6s cubic-bezier(.65,.025,.67,.36),transform .6s cubic-bezier(.65,.025,.67,.36);
    }
    [data-anim="true"] .conn_ani{
    	opacity: 1;
	    transform: translateY(0);
	    transition: opacity .8s cubic-bezier(.34,.615,.4,.985),transform .8s cubic-bezier(.34,.615,.4,.985);
    }

	.conn_heading80{
		font-size: 8rem;
		line-height: 1.1;
		font-weight: 500;
		@include font;
		@media (max-width: 1200px){
			font-size: 6.4rem;
		}
		@media (max-width: 450px){
			font-size: 4rem;
		}
	}